<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>

<body>

  <nav>
    <h4>Admin panel</h4>
    <ul>
      <li><a href="/admin">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
  <main>

    <h1>Lista użytkowników</h1>
    <form action="/admin" method="get">
      <input type="text" name="search" placeholder="Szukaj użytkownika">
      <button type="submit">Szukaj</button>
    </form>


    

    <!-- <form action="/adminTransf" method="post">
      <label for="user_balance">Wybierz użytkownika:</label>
      <select id="user_balance" name="balance"> -->

<!-- 
        <option value=""></option> -->
        <ul>
        <% bil.forEach(function(user) { %>

          <li>
            <%= user.firstName %> <%= user.lastName %> 
            <a href="/edit/<%= user.id %>">Edytuj</a>
            <a href="/delete/<%= user.id %>">Usuń</a>
          </li>



<!-- 


        <option value="<%= user.id %>"><%= user.firstName %> <%= user.lastName %> </option>
 -->



        <% }); %>
      </ul>



      <!-- </select>
      <input type="number" name="amount">
      <input type="submit">
    </form>
     -->
<!-- 
    <% if (typeof message != "undefined" && message) { %>
    <h4 class="alert alert-danger mt-4"><%= messages %></h4>
    <% } %> -->

    <!-- <div>
      <h2>Bilans użytkowników:</h2>
      <% bil.forEach(function(user) { %>
      <div>
        <p>Imię: <%= user.firstName %></p>
        <p>Nazwisko: <%= user.lastName %></p>
        <p>Stan konta: <%= user.bilans %></p>
      </div>
      <% }); %>
    </div> -->
  </main>

</body>

</html>
