<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edycja użytkownika</title>
</head>
<body>
  <h1>Edycja użytkownika</h1>
  <%= user.firstName %>   <%= user.lastName %>
  <form action="/edit/<%= user.id %>" method="post">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" value="<%= user.name %>">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= user.email %>">
    <input type="submit" value="Zapisz zmiany">
  </form>
</body>
</html>