<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/admin_profile.css">
    <title>Document</title>
    <style>
      p {
          font-size: 18px;
          font-weight: bold;
          margin-top: 20px;
      }
      .success {
          color: green;
      }
      .error {
          color: red;
      }
  </style>
  </head>
  
  <body>
  
    <nav>
      <h4>Admin panel</h4>
      <ul>
        <li><a href="/admin">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
  <h1>Edycja użytkownika</h1>
   
  <div class="content">

  <div class="zmianadanych">
    <h4>ID: <%= user.id %>  Imię: <%= user.firstName %>   <%= user.lastName %> Login: <%= user.login %></h4>
  <form action="/edit/<%= user.id %>" method="post">
    <label for="firstName">Imię:</label>
    <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>"><br>

    <label for="lastName">Nazwisko:</label>
    <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>"><br>

    <label for="email">E-mail:</label>
    <input type="email" id="email" maxlength="254" name="email" value="<%= user.email %>"><br>

    <label for="motherMaidenName">Nazwisko panieńskie matki:</label>
    <input type="text" id="motherMaidenName" name="motherName" value="<%= user.motherName %>"><br>

    <label for="pesel">PESEL:</label>
    <input type="text" id="pesel" name="pesel" maxlength="11" pattern="[0-9]{11}" title="Pesel musi sie składać z 11 cyfr" value="<%= user.pesel %>"><br>

    <label for="phoneNumber">Numer telefonu:</label>
    <input type="tel" id="phoneNumber" name="phoneNumber" maxlength="9" pattern="[0-9]{9}" title="Numer składa się z 9 cyfr" value="<%= user.phonenumber %>"><br>
    <input type="submit" value="Zapisz zmiany">
  </form>
</div>

<div class="zmianadanych">

  <h4>Wyślij wiadomość</h4>

  <form action="/messages/<%= user.id %>" method="post">
    <textarea name="naglowek" cols="30" rows="1"></textarea><br>
    <textarea name="tresc" rows="20" cols="30" placeholder="Wprowadź treść wiadomości"></textarea><br>
    <button type="submit">Wyślij</button>
  </form>

  <div class="alert mt-3" id="messageAlert" style="display: none;"></div>


 </div>

<div class="money">
  <h4>Stan konta: <%= user.bilans %></h4>
  <form action="/addmoney/<%= user.id %>" method="post">
    <label for="amount">Kwota:</label>
    <input type="text" id="amount" name="amount" pattern="\d+(\.\d{1,2})?|\d+,\d{1,2}" title="Wprowadź kwotę w formacie XX,XX, XX lub XX.XX" required>
    <button type="submit">Dodaj</button>
  </form>

  <script>
    const url = new URL(window.location.href);
    const paramValue = url.searchParams.get("messageSent");
    const alertDiv = document.getElementById("messageAlert");

    if (paramValue === "true") {
        alertDiv.classList.add("alert-success");
        alertDiv.textContent = "Poprawnie wysłano wiadomość!";
    } else if (paramValue === "false") {
        alertDiv.classList.add("alert-danger");
        alertDiv.textContent = "Wysłanie wiadomości nie powiodło się.";
    } else {
        alertDiv.classList.add("alert-warning");
        alertDiv.textContent = "Nieprawidłowa wartość parametru.";
    }

    // Wyświetl alert
    alertDiv.style.display = "block";
</script>
</div>
</div>



</body>
</html>