<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/edb0032d42.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/navstyle.css">
  <link rel="stylesheet" href="/profile.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <h4><a href="/konto"><img src="/avatar.png" alt=""></a></h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profil</a></li>
 
      <li><a href="/transfer">Przelew</a></li>
      <li><a href="/auth/logout">Wyloguj</a></li>
    </ul>
  </nav>

  <div class="contentt">
  <div class="historia">
    <h4>historia</h4>  <a href="/history" class="history">cała historia</a>

    <div class="listatranzakcji">
      <ul>
        <li>
          <p>Imię</p>
          <p>Numer konta </p>
          <p>bilans</p>
          <p>Opis</p>
          <p>Data</p>
          <p>Godzina</p>
          <!-- <p>Data</p> -->
        </li>


        <% transfer.forEach(function(transfer) { %>
          <% if (user.id == transfer.sender_id){ %>
        <li> 
          <p style="width: 15px;"><%= transfer.recipient_id %></p>
          <p><%= transfer.recipient_account_number %></p>
          <p>-<%= transfer.amount %></p>
          <p><%= transfer.descrip%></p>
          <p><%= transfer.data%></p>
          <p><%= transfer.czas%></p>

        </li>
          <% }else if (user.id == transfer.recipient_id) {%>
        <li>
          <p><%= transfer.sender_id %></p>
          <p><%= transfer.sender_account_number %></p>
          <p><%= transfer.amount %></p>
          <p><%= transfer.descrip%></p>
          <p><%= transfer.data%></p>
          <p><%= transfer.czas%></p>
        </li>
        <% } %>
        <% }); %>
      </ul>
    </div>
 </div>
</div>
<div class="statystyki">
  <form action="/history" method="POST">
    <label for="start">Data początkowa:</label>
    <input type="date" id="start" name="startDate">
  
    <label for="end">Data końcowa:</label>
    <input type="date" id="end" name="endDate">
  

    <button type="submit">Wyślij</button>
  </form>

  <% if (sredniewydatki && bilanswydatkow) { %>
    <h2>Statystyki</h2>
    <p>Średnia wydatków: <%= sredniewydatki %> zł</p>
    <p>Średnia Przychodów: <%= srednieprzychody %></p>
    <p>Suma wydatków: <%= wszystkiewydatki %> zł</p>
    <p>Suma przychodów:<%= wszystkieprzychody %> </p>
    <p>Bilans wydatków:<%= bilanswydatkow %> </p>
  <% } %>
</div>

</body>
</html>
