<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/edb0032d42.js" crossorigin="anonymous"></script>

  <!-- <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/profile.css"> -->
  <link rel="stylesheet" type="text/css" href="/navstyle.css">
 <link rel="stylesheet" type="text/css" href="/profile.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <h4><a href="/konto"><img src="/avatar.png" alt=""></a></h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profil</a></li>
 
      <li><a href="/transfer">Przelew</a></li>
      <li><a href="/goals">Cele</a></li>
      <li><a href="/zlecenia">Zlecenia stałe</a></li>


    
      <li><a href="/auth/logout">Wyloguj</a></li>
    </ul>
  </nav>

  <div class="container">

 <div class="kolumna1">

  <div class="element1k1">
    
    <div class="kontodata">

      <div class="user"> <div class="imie"><%= user.firstName %> <%= user.lastName %></div></div>
     
      <div class="numerkonto"><p>Konto</p> <div class="Numer"><%= user.account_number %></div></div>

    </div>


    <div class="kontosrodki">
      <p>Dostepne środki</p>

      <div class="srodki"><%= user.bilans %></div>


    </div>


    <div class="przelej-button">
    <a href="/transfer">Przelej</a>

  </div>


  </div>
  <div class="element2k1">
  
    <div class="oszcz2">
  
  
  
          <% if (oszcz && oszcz.id_oszcz) { %>
            <h4>Środki znajdujące sie na koncie oszczednosciowym: <%=oszcz.wplacone_srodki%> </h4>
            <a href="/k_oszcz_crn">Przejdź do konta oszczędnościowego</a>
          <% } else { %>
            <a href="/konto-oszczednosciowe">Przejdź do konta oszczędnościowego</a>
          <% } %>
          
         
    
   </div>
  </div>

</div>

<div class="kolumna2">

  <div class="element1k2">

    <div>
      <h4>Ostatnie wiadomości</h4> <a href="/messages">Wszystkie wiadomości</a>
      <ul>
      <% mess.forEach(function(mess) { %>
        <% if (user.id == mess.id_odbiorcy){ %>
          <li>
            <h5><%= mess.naglowek %></h5>
            <p><%= mess.tresc %></p>
          </li>

          <% } %>
      <% }); %>
    </ul>
    </div>


  </div>
 
  <div class="element2k2">
    <div class="hisnav">
<h4>Historia</h4> 
 <a href="/history" class="history">cała historia</a>
    </div>
    

    <div class="listatranzakcji">
      
      <ul>
     

        <% transfer.forEach(function(transfer) { %>
          <% if (user.id == transfer.sender_id){ %>
        <li> 
          <!-- <p style="width: 15px;"><%= transfer.recipient_id %></p> -->
          <!-- <p><%= transfer.recipient_account_number %></p> -->
          <p><img src="/transicon.png"  alt="transfer" style="size: 20px;" > Przelew &nbsp;  <%= transfer.firstName %>   <%= transfer.lastName %> &nbsp; -<%= transfer.amount %>  </p>
          <!-- <p><%= transfer.data%></p> 
          <p><%= transfer.czas%></p> -->

        </li>
          <% }else if (user.id == transfer.recipient_id) {%>
        <li>
          <!-- <p><%= transfer.sender_id %></p>
          <p><%= transfer.sender_account_number %></p> -->
          <p><img src="/transicon.png" alt="transfer"> Przelew &nbsp;   <%= transfer.firstName %> <%= transfer.lastName %> &nbsp; <%= transfer.amount %> </p>
          <!-- <p><%= transfer.data%></p>
          <p><%= transfer.czas%></p> -->
        </li>
        <% } %>
        <% }); %>
      </ul>
    </div>
 </div>

</div>
</div>


</body>
</html>
